n8n/workflows/n8n json/ncmTMNFvPv5Jt8Sj.json
{
  "updatedAt": "2026-02-11T08:32:55.936Z",
  "createdAt": "2026-02-10T15:00:28.601Z",
  "id": "ncmTMNFvPv5Jt8Sj",
  "name": "mega summary",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Final logging\nconst savedDoc = $input.item.json;\nconst megaSummaryData = $('Add Category Name').item.json;\n\nconsole.log('='.repeat(60));\nconsole.log(`💾 MEGA SUMMARY SAVED TO OPENSEARCH`);\nconsole.log('='.repeat(60));\nconsole.log(`Document ID: ${savedDoc._id}`);\nconsole.log(`Index: ${savedDoc._index}`);\nconsole.log(`Category: ${megaSummaryData.category_name}`);\nconsole.log(`Result: ${savedDoc.result}`);\nconsole.log('='.repeat(60));\n\nreturn $input.all();"
      },
      "id": "85a35e3d-b3a3-47c6-b83f-ca27c59a9965",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Add category name back to API response\nconst apiResponse = $input.item.json;\n\n// Extract category_name from request_id (format: mega_CATEGORYNAME_TIMESTAMP)\nconst requestId = apiResponse.request_id;\nconst categoryName = requestId.replace(/^mega_/, '').replace(/_\\d+$/, '');\n\nconsole.log('='.repeat(60));\nconsole.log(`✅ MEGA SUMMARY GENERATED`);\nconsole.log('='.repeat(60));\nconsole.log(`Category: ${categoryName}`);\nconsole.log(`Request ID: ${apiResponse.request_id}`);\nconsole.log(`Cluster count: ${apiResponse.cluster_count}`);\nconsole.log(`Mega summary length: ${apiResponse.mega_summary?.length || 0} chars`);\nconsole.log(`Processed at: ${apiResponse.processed_at}`);\nconsole.log('='.repeat(60));\n\n// Combine API response with category name\nreturn {\n  json: {\n    request_id: apiResponse.request_id,\n    category_name: categoryName,\n    mega_summary: apiResponse.mega_summary,\n    cluster_count: apiResponse.cluster_count,\n    cluster_ids: apiResponse.cluster_ids,\n    processed_at: apiResponse.processed_at\n  }\n};"
      },
      "id": "fd2c62cf-a01b-485c-b410-bd543a64388a",
      "name": "Add Category Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://llm-service:8001/mega_summarize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"cluster_summaries\": {{ JSON.stringify($json.cluster_summaries) }}\n}",
        "options": {
          "timeout": 1000000
        }
      },
      "id": "d93702be-f580-41ae-981b-bee2881f66a5",
      "name": "Call Mega Summary API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        736,
        368
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cluster_summaries",
              "type": "any"
            },
            {
              "name": "request_id",
              "type": "any"
            }
          ]
        }
      },
      "id": "8fd04090-7dca-4179-b955-c0ae701b22e2",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        528,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://opensearch:9200/mega_summaries/_doc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"category_name\": \"{{ $json.category_name }}\",\n  \"mega_summary\": {{ JSON.stringify($json.mega_summary) }},\n  \"cluster_count\": {{ $json.cluster_count }},\n  \"cluster_ids\": {{ JSON.stringify($json.cluster_ids) }},\n  \"processed_at\": \"{{ $json.processed_at }}\",\n  \"ingested_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "151b705b-9519-417e-aa56-a7135baf48df",
      "name": "Save Mega Summary to OpenSearch1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1216,
        368
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "CDwtLvj0oKDTzkUr",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "connections": {
    "Add Category Name": {
      "main": [
        [
          {
            "node": "Save Mega Summary to OpenSearch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Mega Summary API": {
      "main": [
        [
          {
            "node": "Add Category Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Call Mega Summary API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Mega Summary to OpenSearch1": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "instanceId": "14e0915c135b1c848a689952dd56c5bff14b3a94d16edbaf2169dc9f7a2437fc"
  },
  "pinData": {},
  "versionId": "df98156f-13c0-4bdd-a491-f847edf07ef3",
  "activeVersionId": "96edf181-a4f3-4890-8a4a-2345c6b9d184",
  "versionCounter": 20,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-10T15:00:28.604Z",
      "createdAt": "2026-02-10T15:00:28.604Z",
      "role": "workflow:owner",
      "workflowId": "ncmTMNFvPv5Jt8Sj",
      "projectId": "Fym8lmiogviYTzpp",
      "project": {
        "updatedAt": "2026-02-11T13:41:09.163Z",
        "createdAt": "2026-02-10T14:59:11.065Z",
        "id": "Fym8lmiogviYTzpp",
        "name": "enise colak <eniseirem@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f2a82ed6-b64a-4ab3-b153-a72995fa761d"
      }
    }
  ]
}