n8n/workflows/n8n json/t0axUOUgpQYcZyXC.json
{
  "updatedAt": "2026-02-11T10:34:44.328Z",
  "createdAt": "2026-02-10T15:00:25.792Z",
  "id": "t0axUOUgpQYcZyXC",
  "name": "cluster summary and label",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-service:8001/cluster_summarize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 3000000
        }
      },
      "id": "39ee2595-589e-4b60-9916-468eb3536b0b",
      "name": "Generate Cluster Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1744,
        1216
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4f4f957b-4c73-45ff-89fb-2b2ee5c88b1c",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1520,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format the LLM response for OpenSearch insert\nconst llmResponse = $input.first().json;\nconst cluster = llmResponse.clusters[0]; // Single cluster\n\nreturn {\n  cluster_id: cluster.cluster_id,\n  request_id: llmResponse.request_id,\n  article_ids: cluster.article_ids,\n  article_count: cluster.article_count,\n  summary: cluster.summary,\n  ingested_at: new Date().toISOString(),\n  processed_at: llmResponse.processed_at\n};"
      },
      "id": "25ad08fe-97e7-45ff-831b-47264b3112b2",
      "name": "Attach Summaries to Clusters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the cluster data that was just saved\nconst clusterData = $('Attach Summaries to Clusters').first().json;\n\nconst topicLabelPayload = {\n  request_id: `label_${clusterData.cluster_id}_${Date.now()}`,\n  summary: clusterData.summary,\n  cluster_id: clusterData.cluster_id\n};\n\nconsole.log(`🏷️ Returning topic_label payload for cluster ${clusterData.cluster_id}`);\n\nreturn [{ json: topicLabelPayload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        1216
      ],
      "id": "68826d4b-5b2a-406d-a63d-8f51ae110f1a",
      "name": "topic_label structure"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-service:8001/topic_label",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $json.request_id, summary: $json.summary }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2640,
        1104
      ],
      "id": "06fb998f-cf73-4423-9326-2bfe99924524",
      "name": "Topic label",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://opensearch:9200/cluster_summaries/_update/{{ $('topic_label structure').first().json.cluster_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doc\": {\n    \"topic_label\": \"={{ $json.topic_label }}\",\n    \"label_processed_at\": \"={{ $json.processed_at }}\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2864,
        1024
      ],
      "id": "cc435655-8a17-4c7b-866f-148d6ec9b775",
      "name": "Save topic label",
      "credentials": {
        "httpBasicAuth": {
          "id": "CDwtLvj0oKDTzkUr",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://opensearch:9200/cluster_summaries/_doc/{{ $json.cluster_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "3eef35e4-14c2-4ee0-9b21-606d0167b427",
      "name": "Save to OpenSearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        1216
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "CDwtLvj0oKDTzkUr",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-service:8001/keyword_extract",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $json.request_id, summary: $json.summary }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2640,
        1344
      ],
      "id": "ff8fd42d-bd0e-4e18-819b-d3afa66125d2",
      "name": "Keyword",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3440,
        1232
      ],
      "id": "d99bbaf2-3561-4429-986f-274ed1b96403",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://opensearch:9200/keywords/_doc/{{ $('topic_label structure').first().json.cluster_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    lda_keywords: $json.lda_keywords,\n    processed_at: $json.processed_at,\n    article_ids: [String($('topic_label structure').first().json.cluster_id)],\n    request_id: $json.request_id\n  }\n}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2864,
        1408
      ],
      "id": "1d174d77-418f-4675-be68-9c1882317966",
      "name": "Save keywords1",
      "credentials": {
        "httpBasicAuth": {
          "id": "CDwtLvj0oKDTzkUr",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GDMrNOkQKkkzD4rwUO5cl",
          "mode": "list",
          "cachedResultUrl": "/workflow/GDMrNOkQKkkzD4rwUO5cl",
          "cachedResultName": "M3 - Categorize Clusters Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3072,
        1024
      ],
      "id": "3270ee51-613b-4f83-ac76-65323a0adaff",
      "name": "Call 'M3 - Categorize Clusters Workflow'"
    }
  ],
  "connections": {
    "Generate Cluster Summary": {
      "main": [
        [
          {
            "node": "Attach Summaries to Clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Generate Cluster Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Summaries to Clusters": {
      "main": [
        [
          {
            "node": "Save to OpenSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "topic_label structure": {
      "main": [
        [
          {
            "node": "Topic label",
            "type": "main",
            "index": 0
          },
          {
            "node": "Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic label": {
      "main": [
        [
          {
            "node": "Save topic label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to OpenSearch": {
      "main": [
        [
          {
            "node": "topic_label structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword": {
      "main": [
        [
          {
            "node": "Save keywords1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save topic label": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'M3 - Categorize Clusters Workflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save keywords1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call 'M3 - Categorize Clusters Workflow'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "instanceId": "14e0915c135b1c848a689952dd56c5bff14b3a94d16edbaf2169dc9f7a2437fc"
  },
  "pinData": {},
  "versionId": "1e9ebe40-8a18-4e90-9765-d749acd93789",
  "activeVersionId": "1e9ebe40-8a18-4e90-9765-d749acd93789",
  "versionCounter": 121,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-10T15:00:25.796Z",
      "createdAt": "2026-02-10T15:00:25.796Z",
      "role": "workflow:owner",
      "workflowId": "t0axUOUgpQYcZyXC",
      "projectId": "Fym8lmiogviYTzpp",
      "project": {
        "updatedAt": "2026-02-11T13:41:09.163Z",
        "createdAt": "2026-02-10T14:59:11.065Z",
        "id": "Fym8lmiogviYTzpp",
        "name": "enise colak <eniseirem@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f2a82ed6-b64a-4ab3-b153-a72995fa761d"
      }
    }
  ]
}